#about-container {
  height: 100%;
  overflow: auto;
}

#about-container-inner {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-row-gap: 1em;
  width: 80%;
  margin: 0px auto;
}

.top-nav {
  display: grid;
  grid-template-columns: 1fr auto;
  background-color: #222;
  border-color: #080808;
  height: 55px;
  border-radius: 4px;
  padding: 1em;
}

.main-nav {
  border: 1px solid #e5e5e5;
}

.welcome-txt {
  color: #fff;
}

.top-nav-item {
  list-style-type: none;
}

.top-nav-item li {
  display: inline;
}

.top-nav-item li a {
  color: #fff;
  padding: 5px;
}
.logo-txt {
  font-size: 1.75em !important;
  font-weight: bold;
}
.white {
  background-color: #fff !important;
}

.banner {
  height: 340px;
  border-radius: 10px;
  background-image: url("../img/whistler.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 14%;
  color: #fff;
  padding: 3em;
}

.art-content {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-column-gap: 2em;
}

.art-c1-content {
  display: grid;
  grid-template-columns: 3fr 4fr;
  grid-column-gap: 2em;
}

.left {
  background-image: url("../img/113010.jpg");
  background-repeat: no-repeat;
  background-position: center;
  max-height: 600px;
}

.red-text {
  color: red;
}

.btn-border {
  border: 1px solid #ccc;
}

.product-table {
  width: 100%;
  table-layout: fixed;
  border: 1px solid #ccc;
}

.product-table thead tr {
  background-color: #f1f1f1;
}

.product-table td {
  border-bottom: 1px solid #ccc;
  padding: 2px 3px;
}

.similar-products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  /* height: 300px; */
  text-align: center;
  grid-column-gap: 1em;
  margin: 20px 0px;
}

.small-text {
  font-size: 0.95em;
}

.bordered {
  border: 1px solid #ccc;
  border-radius: 7px;
  padding: 1em;
}
/* sidebar begin */

.left-sidebar-block {
  border-radius: 7px;
  border: 1px solid #428bca;
  min-height: 250px;
  margin-bottom: 20px;
}

.light-blue {
  border: 1px solid #428bca;
}
.accent-blue {
  border: 1px solid #d9edf7;
}
.accent-background {
  background-color:  #d9edf7;
}
h3.block-header {
  background-color: #428bca;
  color: #FFF;
  padding:7px;
  font-size: 1em;
}
h3.block-header-accent {
  background-color: #d9edf7;
  color: #31708f;
  padding:7px;
  font-size: 1em;
}
.sidebar-list {
  list-style-type: none;
  text-align: center;
  padding: .5em;
}
.sidebar-list > li {
  overflow: auto;
  margin-bottom: 10px;
}
.btn-below {
  padding: 10px;
}
.sidebar-list > li > img {
  margin-right: 5px;
  width: 33px;
}
.pull-left {
  float: left;
}
.align-text-left {
  text-align: left;
}
.tiny-txt {
  font-size: .7em;
}
.sidebar-list > li > a {
  padding: 7px 0px;
  display: block;
  text-decoration: none;
  transition-duration: 0.9s;
}

.sidebar-list > li > a:hover {
  background-color: #f1f1f1;
}
/* sidebar end */

/* footer start */
.top-footer {
  background-color: #e7e7e7;
}

.footer-inner {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 1em;
  width: 80%;
  margin: 0px auto;
  height: 350px;
  padding: 10px 0px 0px;
}

.medium-text {
  font-size: 1.25em;
  margin-bottom: 20px;
}

.footer-list {
  list-style-type: none;
}
.footer-list a {
  text-decoration: none;
}
.footer-list li {
    margin-bottom: 15px;
    overflow: auto;
}
ul.footer-list > li > img {
  float: left;
  margin-right: 10px;
}
.links {
  text-decoration: none;
  padding: 15px;
  display: block;
}

.bottom-footer {
  background-color: darkslategray;
  color: black;
}


/* footer end */

/* art container grid */

.art-container-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr 1fr;
  grid-gap: 1em;
  justify-items: center;
}
.artist-card {
  padding: 1em;
  border-radius: 5px;
  border: 1px solid #CCC;
}
h2.small {
  font-size:1.5em;
  padding: 20px 0px 10px;}
/* end art container grid */